<%- include partials/innerheader %>
<!-- Page Content Start -->
<div class="app_main">
  <%- include partials/innersidebar %>
<div class="app_content">
  <div class="dsbrd_container">
    <div class="ai_dtl_head">
      <div class="ai_dtl_head_left">
        <a href="dashboard"><button class="btn back_btn"><i class="fas fa-arrow-left"></i></button></a>
        <div class="tips_bx_cmpny_name">
          <span class="bs_btn buy_btn">Buy</span>
          <h2>ADP <span>Automatic Data Processing Inc</span></h2>
        </div>
      </div>
      <div class="ai_dtl_head_right">
        <div class="ai_dtl_head_right_bx">
          <h4 class="border_secondary">Today’s High</h4>
          <h3>174.12</h3>
        </div>
        <div class="ai_dtl_head_right_bx">
          <h4 class="border_danger">Today’s Low</h4>
          <h3>168.01</h3>
        </div>
        <div class="ai_dtl_head_right_bx">
          <h4 class="border_primary">Change</h4>
          <h3>3.03% <span class="arrow_up"></span></h3>
        </div>
        <div class="ai_dtl_head_right_bx text-right">
          <h2>172.04</h2>
          <h5>NY Time 04 :54 AM</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="graph_area">
    <div class="row ml-0 mr-0">
      <div class="graph_bx graph_bx_left col">
        <h2>Historical Data</h2>
        <ul>
          <li class="active">1D</li>
          <li>5D</li>
          <li>1M</li>
          <li>3M</li>
          <li>6M</li>
          <li>1YR</li>
        </ul>
        <div class="graph_bx_img">
          <img src="images/left-graph.png" alt="images">
        </div>
      </div>
      <div class="graph_bx graph_bx_right col">
        <h2>Prediction Graph</h2>
        <div class="graph_bx_img">
          <img src="images/right-graph.png" alt="images">
          <div class="unlock_prediction">
            <h3>
              <span><i class="fas fa-lock"></i></span>
              Unlock Prediction
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dsbrd_container">
    <div class="ai_dtl_btm row">
      <div class="ai_dtl_btm_left col">
        <div class="mvng_avrg">
          <h2>Moving Averages</h2>
          <ul>
            <li>10 Days <span>>$789</span></li>
            <li>50 Days <span>>$888</span></li>
            <li>200 Days <span>>$888</span></li>
          </ul>
        </div>
        <div class="news_area">
          <div class="news_area_head">
            <h2>Consumer Services Sector News</h2>
            <h3>Sentiment based on 70 News sources</h3>
            <h4 class="color_buy">Positive</h4>
          </div>
          <div class="news_boxes">
            <div class="news_bx">
              <h4>GuruFocus <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing (NASDAQ:ADP) Has Gifted Shareholders With A Fantastic  124% Total Return On Their Investment</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
            <div class="news_bx">
              <h4>seekingalpha <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing, Inc. (ADP) Presents at J.P. Morgan Ultimate Services Investor Conference (Transcript)</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
            <div class="news_bx">
              <h4>seekingalpha <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing, Inc. (ADP) Presents at J.P. Morgan Ultimate Services Investor Conference (Transcript)</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
            <div class="news_bx">
              <h4>GuruFocus <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing (NASDAQ:ADP) Has Gifted Shareholders With A Fantastic  124% Total Return On Their Investment</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
            <div class="news_bx">
              <h4>seekingalpha <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing, Inc. (ADP) Presents at J.P. Morgan Ultimate Services Investor Conference (Transcript)</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
            <div class="news_bx">
              <h4>seekingalpha <span>24 November 2020, 22:06 NYT</span></h4>
              <h5>Automatic Data Processing, Inc. (ADP) Presents at J.P. Morgan Ultimate Services Investor Conference (Transcript)</h5>
              <p>When you buy a stock there is always a possibility that it could drop 100%. But when you pick a company that is really flourishing, you can make more than 100%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ai_dtl_btm_right col">
        <div class="mentor_tips_area">
          <div class="mentor_tips_head">
            <h2>Mentors Tips</h2>
          </div>
          <div class="mentor_tips_boxes">
            <div class="mentor_tips_bx buy_bg">
              <div class="author_bx">
                <img src="images/user.png" alt="images">
                <div class="author_bx_txt">
                  <h2>JakeCatskill</h2>
                  <h3>2 mins ago</h3>
                </div>
              </div>
              <div class="tips_bx_cmpny_name">
                <span class="bs_btn buy_btn">Buy</span>
                <h2>TZA</h2>
                <h2>$7.68</h2>
              </div>
              <ul>
                <li>Entry <span>$789</span></li>
                <li>Exit <span class="color_buy">$10.00</span></li>
                <li>Stop <span>$888</span></li>
              </ul>
            </div>
            <div class="mentor_tips_bx buy_bg">
              <div class="author_bx">
                <img src="images/user.png" alt="images">
                <div class="author_bx_txt">
                  <h2>JakeCatskill</h2>
                  <h3>2 mins ago</h3>
                </div>
              </div>
              <div class="tips_bx_cmpny_name">
                <span class="bs_btn buy_btn">Buy</span>
                <h2>TZA</h2>
                <h2>$7.68</h2>
              </div>
              <ul>
                <li>Entry <span>$789</span></li>
                <li>Exit <span class="color_buy">$10.00</span></li>
                <li>Stop <span>$888</span></li>
              </ul>
            </div>
            <div class="mentor_tips_bx buy_bg">
              <div class="author_bx">
                <img src="images/user.png" alt="images">
                <div class="author_bx_txt">
                  <h2>JakeCatskill</h2>
                  <h3>2 mins ago</h3>
                </div>
              </div>
              <div class="tips_bx_cmpny_name">
                <span class="bs_btn buy_btn">Buy</span>
                <h2>TZA</h2>
                <h2>$7.68</h2>
              </div>
              <ul>
                <li>Entry <span>$789</span></li>
                <li>Exit <span class="color_buy">$10.00</span></li>
                <li>Stop <span>$888</span></li>
              </ul>
            </div>
            <div class="mentor_tips_bx buy_bg">
              <div class="author_bx">
                <img src="images/user.png" alt="images">
                <div class="author_bx_txt">
                  <h2>JakeCatskill</h2>
                  <h3>2 mins ago</h3>
                </div>
              </div>
              <div class="tips_bx_cmpny_name">
                <span class="bs_btn buy_btn">Buy</span>
                <h2>TZA</h2>
                <h2>$7.68</h2>
              </div>
              <ul>
                <li>Entry <span>$789</span></li>
                <li>Exit <span class="color_buy">$10.00</span></li>
                <li>Stop <span>$888</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Page Content Start -->
<%- include partials/innerfooter %>
